.note {
    /* background: rgba(43, 108, 255, 0.1); */
    background: rgba(43, 108, 255, 1);
    backdrop-filter: blur(5px);
    /* box-shadow: inset -6px -4px 2px rgba(43, 108, 255, 0.03); */
    border-radius: 15px;
    /* border: 1.5px solid rgba(43, 108, 255, 0.326); */
    color: #fff;
    padding: 15px;
    margin: 0.5em 0.75em;
    min-height: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-wrap: break-word;

}

.note2 {
    /* background: rgba(43, 108, 255, 0.1); */
    background: rgba(43, 108, 255, 1);
    backdrop-filter: blur(5px);
    /* box-shadow: inset -6px -4px 2px rgba(43, 108, 255, 0.03); */
    border-radius: 15px;
    /* border: 1.5px solid rgba(43, 108, 255, 0.326); */
    color: #fff;
    padding: 15px;
    margin: 0.5em 0.75em;
    min-height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-wrap: break-word;
}

.note__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.note textarea {
    white-space: pre-wrap;
    background: transparent;
    border: none;
    color: #fff;
    resize: none;
    font-size: 18px;
}

.note textarea:focus {
    outline: none;
}

.note textarea::placeholder {
    color: #fff;
}

.note__save {
    background: transparent;
    transition: 0.1s ease-in-out;
    border: 1.5px solid #fff;
    border-radius: 10px;
    color: #fff;
    padding: 4px 10px;
    font-size: 13px;
    cursor: pointer;
}

.note__save:hover {
    background: #fff;
    border: 1.5px solid #fff;
    color: #4b1589;
}

.note__delete {
    cursor: pointer;
}

.note__delete:hover {
    transform: scale(1.1);
}

.char__progress {
    background-color: #fff !important;
}

.warning {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    margin-inline: 0.75em;
    min-height: 10vh;
    background-color: #BB0202;
    color: var(--clr-btn);
    border-radius: 0 0 15px 15px;
    z-index: 200;
}

.warning span,
.warning img {
    margin-inline: 0.75em;
}

.warning img {
    width: 35px;
    height: 35px;
}

.warning span {
    padding: 0.5em 0.25em;
    font-size: 1rem;
}
