.headeradd-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 100vw;
    height: 8vh;
    padding-inline: 0.75em;
    outline: 3px solid red;
    margin-block-end: 1em;
}

.headeradd-wrapper img, .headeradd-wrapper button{
    width: 35px;
    height: 35px;
    transition: all 0.25s ease-in-out;
}

.returnBtn.clicked button{
    transform: scale(0.9);
}